.App {
  font-family: sans-serif;
  text-align: center;
}

.card {
  width: 300px !important;
}

h4 {
  margin: 0.2em !important;
}

.ui.grid > .row {
  padding-top: 0.1em !important;
  padding-bottom: 0.1 !important;
}
